pyyaml
requests
tiktoken
flask
python-dotenv
prefect==1.4.1
azure-identity
azure-keyvault-secrets
requests_oauthlib
tenacity
azure-cosmos
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability